<% include partials/header %>

<% include partials/organizerpartials %>
<% events.forEach(function(event){ %>
	<div class="contianer">
	<h2><strong>Title :</strong> <%= event.title %> </h2><br>
	<l><strong>Date :</strong> <%= event.date %></l><br>
	<l><strong>Organizer :</strong> <%= event.organizer_id%></l><br>
	<l><strong>Location :</strong> <%=event.location %></l><br>
	<l><strong>Ticket Price :</strong> <%=event.ticketprice %></l><br>
	<p><strong>Description :</strong> <%=event.description %></p><br>
	
	<form action="/organizer/deleteEvent/<%=event._id%>?_method=DELETE" method="POST">
		<button >Delete</button>
		<button  formaction="/organizer/updateEvent/<%=event._id%>?_method=GET">Update</button>
	</form>
	</div>
<% }) %>